.chat__wrapper {
    background-color: #0d1b2a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: white;
    overflow-y: auto;
}

.message {
    background-color: #2b5278;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
    gap: 10px;
    display: flex;
    min-width: 200px;
    flex-direction: column;
    border-radius: 10px;
}

.footer {
    background-color: #6495ed;
}

.sender__message {
    color: #7da8d3;
    font-size: 12px;
}

.delete__button {
    color: #7da8d3;
    font-size: 12px;
    /*position: relative;*/
    transition: 0.3s;
    align-self: end;
    margin-left: auto;
}

.delete__button:hover {
    cursor: pointer;
    scale: 1.4;
}

form {
    padding: 20px;
}

.form__send-message {
    background-color: #1b263b;
    border-left: 1px solid #0d1b2a;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.form__input-text {
    background-color: #1b263b;
    border: none;
    color: gray;
}
