
.chat__not-viewed::before {
    width: 8px;
    height: 8px;
    background-color: lime;
    content: '';
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    left: calc(100% - 30px);
}

.chat__row {
    border-top: 1px solid #415a77;
    width: 100%;
    text-align: center;
    height: 57px;
    position: relative;
}

.chats__list {
    background-color: #1b263b;
}
